/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.fvm/
/.idea/
/.packages
/.pub/
/.vscode/
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/build/
/coverage/
/ios/Flutter/.last_build_id
/ios/Flutter/ephemeral/
/ios/Pods/
/linux/flutter/ephemeral/
/macos/Flutter/ephemeral/
/pubspec.lock
/web_plugin_registrant.dart
/windows/flutter/ephemeral/
*.iml
*.log
